.delivery{
    .delivery__top{
        display: flex;
        margin-top: 102px;
        align-items: center;
        gap: 3px;
        margin-bottom: 15px;
        svg{
            font-size: 10px;
        }
        .delivery__word{
            font-size: 16px;
            font-weight: 400;
            font-family: manrope;
            color: #454545;
            &:active{
                color: #000;
            }
        }
    }
    .delivery__wrapper{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        .delivery__left{
            .delivery__title{
                font-size: 64px;
                font-weight: 700;
                font-family: manrope;
                max-width: 319px;
                color: #454545;
            }
        }
        .delivery__right{
            display: flex;
            flex-direction: column;
            gap: 60px;
            .delivery__text{
                display: flex;
                flex-direction: column;
                gap: 28px;
                .delivery__subtitle{
                    font-size: 24px;
                    font-weight: 600;
                }
                .delivery__desc{
                    font-size: 20px;
                    font-weight: 400;
                    color: #454545;
                    max-width: 550px;
                }
            }
        }
    }
}